<% content_for :local_content do %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @local.name %>
</p>

<p>
  <b>Address:</b>
  <%= @local.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @local.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @local.fax %>
</p>

<p>
  <b>Description:</b>
  <%= @local.description %>
</p>

<p>
  <b>Owner:</b>
  <%= @local.user.username %>
</p>


<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %> | 
<%= link_to 'Destroy', local_path, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

<%= render 'shared/local_content',  :subtitle => @local.name.capitalize  %>