<% content_for :sign_title, "Forgot your password?" -%>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form login"  }) do |f| %>
<% unless resource.errors.empty? %>
	<div class="info">
  		<%= devise_error_messages! %>
	</div>
<% end %>


<ul class="edit rounded">
	<li><%= f.email_field :email, :placeholder => t(:email), :autocapitalize => "off", :autocorrect => "off", :autocomplete => "off" %></li>
	
	
			<li><%= f.submit :value => t(:reset_password) %></li>
		</ul>

	<% end %>

	<%= render :partial => "devise/shared/links" %>