<% content_for :local_content do %>

<table class="table">
  <tr>
    <th class="first"><%= sortable "name" %></th>
    <th><%= sortable "company" %></th>
    <th><%= sortable "phone" %></th>
    <th><%= sortable "mobile_phone", "Mobile Phone"  %></th>
    <th><%= sortable "email" %></th>
    <th><%= sortable "address" %></th>
    <th><%= sortable "note" %></th>
	<th><%= sortable "consumption" %></th>
    <th class="last"></th>
  </tr>

<% @customers.each_with_index do |customer, i| %>
  <tr class="<%= (i%2 == 1) ? ("even") : ("odd") %>">
    <td><%= customer.name %></td>
    <td><%= customer.company %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.mobile_phone %></td>
    <td><%= customer.email %></td>
    <td><%= customer.address %></td>
    <td><%= customer.note %></td>
	<td><%= customer.consumption %></td>
    <td class="last"><%= link_to 'Show', customer %> | 
    <%= link_to 'Edit', edit_customer_path(customer) %> | 
    <%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


<div class="actions-bar wat-cf">
  <div class="actions">
	<%=  link_to  image_tag("/images/icons/plus.png") + I18n.t(:new_customer) , new_customer_path, :class => "button" %>
  </div>


	<div class="pagination">
  		<%= will_paginate @customers  %>
  </div>
</div>

<% end %>

<%= render 'shared/local_content',  :subtitle => I18n.t(:customers_list) %>