<% content_for :local_content do %>

<table class="table">
  <tr>
    <th class="first">Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Note</th>
    <th class="last"></th>
  </tr>

<% @dishes.each_with_index do |dish, i| %>
  <tr class="<%= (i%2 == 1) ? ("even") : ("odd") %>">
    <td><%= dish.name %></td>
    <td><%= dish.price %></td>
    <td><%= dish.description %></td>
    <td><%= dish.note %></td>
    <td class="last"><%= link_to 'Show', dish %> | 
    <%= link_to 'Edit', edit_dish_path(dish) %>|
    <%= link_to 'Destroy', dish, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />



<div class="actions-bar wat-cf">
  <div class="actions">
	<%=  link_to  image_tag("/images/icons/plus.png") + I18n.t(:new_dish) , new_dish_path, :class => "button" %>
  </div>

  <div class="pagination">
    <span class="disabled prev_page">« Previous</span><span class="current">1</span><a rel="next" href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#">10</a><a href="#">11</a><a rel="next" class="next_page" href="#">Next »</a>

  </div>
</div>

<% end %>

<%= render 'shared/local_content',  :subtitle => I18n.t(:dishes_list) %>


